* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin:0;
    padding: 0;
}

a {
    text-decoration: none;
}

main {
    width: 1200px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid black;
}

table {
    margin: 1rem auto;
    width: 80%;
    border: 1px solid black;
}

th, td {
    padding: .5rem;
}

tr:nth-child(odd) td {
    background-color: lightgrey;
}

form div {
    display: flex;
    padding: 1rem;
}

form label {
    width: 16rem;
}

form input, button, .btn {
    padding: .5rem;
}

button, .btn {
    display: inline-block;
    border: 1px solid black;
    background-color: darkslategrey;
    color: yellow;
    cursor: pointer;
}

.danger {
    background-color: darkred;
    color: whitesmoke;
}

button:hover, .btn:hover {
    background-color: darkgreen;
}

