:root{
    --header-color : yellowgreen;
    --fieldset-bg-color : #333;
    --nutri-a: darkgreen;
    --nutri-b: #009900CC;
    --nutri-c: #CCCC00CC;
    --nutri-d: #CC6600CC;
    --nutri-e: #CC0000CC;
}

*{
    margin: 0;
    padding: 0;
}

body {
    color: whitesmoke;
    background-color: #111;
    text-align: center;
}

header{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
header, form, fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin-bottom: 10px;*/
}

h1 {
    color: var(--header-color);
    flex: 1;
}

form {
    flex: 1;
    column-gap: 5px;
}

fieldset {
    background-color: var(--fieldset-bg-color);
    flex:1;
}
fieldset fieldset{
    padding: 0 10px 10px 10px;
}

input[type="search"]{
    background-color: var(--fieldset-bg-color);
    color: whitesmoke;
    border: 0px;
}

input::placeholder {
    color: #FFFFFFCC;
}

table{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-collapse: collapse;
    line-height: 2em;
    column-gap: 5px;
    border-spacing: 50px;
}



thead {
    color: var(--header-color);
    background-color: #444;
}

tbody tr:hover, tbody tr:hover button {
    background-color: #664;
}

.text-left{
    text-align: left;
}

.identifiant{
    color: yellow;
    background-color: var(--fieldset-bg-color);
}

.A{
    background-color: var(--nutri-a);
}
.B{
    background-color: var(--nutri-b);
}
.C{
    background-color: var(--nutri-c);
}
.D{
    background-color: var(--nutri-d);
}
.E{
    background-color: var(--nutri-e);
}

td button {
    border: 0px;
    background-color: #111;
    color: #CC0000CC;
    font-size: large;
    font-weight: bold;
}
